.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    background: var(--white);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.actions {
    display: flex;
    align-items: center;
}

.action-btn,
.download-btn {
    min-width: 32px;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    img {
        min-width: 26px;
    }
}

.more-btn {
    width: 20px;
    height: 20px;
    font-size: 2rem;
    background-color: transparent;
    margin-left: 16px;
    padding: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin-left: 24px;
    cursor: pointer;
}

.badge {
    position: absolute;
    display: flex;
    top: 2px;
    right: 0;
    padding: 0 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-weight: 600;
    font-family: var(--font-family);
    color: var(--white);
    background-color: var(--primary);
}
